<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/error.css" />
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <body class="error-404">
        <div class="container">
            <h1>404</h1>
            <p>Oops! The page you're looking for could not be found.</p>
        </div>
<%- include('includes/end.ejs') %>